<!DOCTYPE html>
<html lang="en">
<head>

    <title>prof</title>
</head>
<body>
<h1>welcome to prof</h1>
{% extends 'APP/next.html' %}

{% block title %}hi{% endblock %}

{% block content %}
<div class="login">

    <h1>Login</h1>
    <form  method="post">
        {{form.as_p}}
        <input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit"  class="btn btn-primary btn-block btn-large">Let me in.</button>
         <a href = "next.html"></a>
        <p class="forgot" align="center"><a href="#">Forgot Password?</p>
    </form>

        </div>
 {% endblock %}


</body>
</html>